@using L2M.Models

@{
    ViewData["Title"] = "Home Page";
    //Lấy theo nỗi bật
    List<Song> featuredSongs = ViewData["FeaturedSongs"] as List<Song>;
    //Lấy theo ngày tạo
    List<Song> newSongs = ViewData["NewSongs"] as List<Song>;
    //Lấy theo lượt thích
    List<Song> likeSongs = ViewData["LikeSongs"] as List<Song>;
    //Lấy theo lượt view
    List<Song> topSongs = ViewData["TopSongs"] as List<Song>;
    //Lấy tất cả album
    List<Album> albums = ViewData["Albums"] as List<Album>;
}

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(img/bg-img/bg-1.jpg);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Album mới nhất</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Beyond Time <span>Beyond Time</span></h2>
                            <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Khám phá <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(img/bg-img/bg-2.jpg);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Album mới nhất</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms"> <span>Colorlib Music</span></h2>
                            <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Khám phá <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->
<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    @foreach (var item in featuredSongs)
                    {
                        <div class="single-album">
                            <img src="@Url.Content(item.ImgUrl)" alt="@item.Title">
                            <div class="album-info">
                                <a asp-controller="Songs" asp-action="PlaySong" asp-route-id="@item.SongId">
                                    <h5>@item.Title</h5>
                                </a>
                                @if (item.Artists != null)
                                {
                                    <p>
                                        @foreach (var artist in item.Artists?.Select((value, i) => new { i, value }))
                                        {
                                            @artist.value.Name @((artist.i < item.Artists.Count() - 1)? "," : "")
                                        }
                                    </p>
                                }
                            </div>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Latest Albums Area End ##### -->

    <!-- ##### Buy Now Area Start ##### -->
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Album</h2>
                    </div>
                </div>
            </div>

        <div class="row">

                @foreach(var item in albums)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
                            <div class="album-thumb">
                                <img src="@Url.Content(item.ImgUrl)" alt="@item.Title">
                            </div>
                            <div class="album-info">
                                <a asp-controller="Albums" asp-action="Detail" asp-route-id="@item.AlbumId">
                                    <h5>@item.Title</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                }

        </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                        <a href="#" class="btn oneMusic-btn">Xem thêm<i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Buy Now Area End ##### -->

    <!-- ##### Featured Artist Area Start ##### -->
    <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url(img/bg-img/bg-4.jpg);">
    @if (featuredSongs.Any())
    {
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="featured-artist-thumb">
                        
                            <img src="@Url.Content(featuredSongs.Last().ImgUrl)" alt="">
                        
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->

                        <div class="section-heading white text-left mb-30">
                            <h2>Bài hát mới nhất</h2>
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>@featuredSongs.First()?.Title</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="@featuredSongs.First()?.Path" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </section>
    <!-- ##### Featured Artist Area End ##### -->

    <!-- ##### Miscellaneous Area Start ##### -->
    <section class="miscellaneous-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- ***** Weeks Top ***** -->
                <div class="col-12 col-lg-4">
                    <div class="weeks-top-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <h2>Các bài hát được yêu thích nhất</h2>
                        </div>

                    @foreach (var item in likeSongs)
                    {
                        <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms">
                            <div class="thumbnail">
                                <img src="@Url.Content(item.ImgUrl)" alt="">
                            </div>
                            <div class="content-">
                                 <a asp-controller="Songs" asp-action="PlaySong" asp-route-id="@item.SongId">
                                    <h6>@item.Title</h6>
                                </a>
                                @if (item.Artists != null)
                                {
                                    <p>
                                        @foreach (var artist in item.Artists?.Select((value, i) => new { i, value }))
                                        {
                                            @artist.value.Name @((artist.i < item.Artists.Count() - 1)? "," : "")
                                        }
                                    </p>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>

                <!-- ***** New Hits Songs ***** -->
                <div class="col-12 col-lg-4">
                    <div class="new-hits-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">                            <h2>Bài hát mới </h2>
                        </div>
                        @foreach(var item in newSongs)
                        {
                            <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                                <div class="first-part d-flex align-items-center">
                                    <div class="thumbnail">
                                        <img src="@Url.Content(item.ImgUrl)" alt="">
                                    </div>
                                    <div class="content-">
                                         <a asp-controller="Songs" asp-action="PlaySong" asp-route-id="@item.SongId">
                                            <h6>@item.Title</h6>
                                           </a>
                                        @if(item.Artists != null)
                                        {
                                            <p>
                                            @foreach(var artist in item.Artists?.Select((value, i) => new { i, value }))
                                            {
                                                @artist.value.Name @((artist.i < item.Artists.Count() - 1)? "," : "")
                                            }
                                        </p>
                                    }
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="@Url.Content(item.Path)">
                            </audio>
                        </div>
                    }
                </div>
            </div>

                <!-- ***** Popular Artists ***** -->
                <div class="col-12 col-lg-4">
                    <div class="popular-artists-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <h2>Bài hát nhiều người nghe nhất</h2>
                        </div>

                    <!-- Single Artist -->
                    <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                        <div class="thumbnail">
                            <img src="~/img/bg-img/pa1.jpg" alt="">
                        </div>
                        <div class="content-">
                            <p>Sam Smith</p>
                        </div>
                    </div>
                    @foreach (var item in topSongs)
                    {
                        <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                            <div class="thumbnail">
                                <img src="@Url.Content(item.ImgUrl)" alt="">
                            </div>
                            <div class="content-">
                                <a asp-controller="Songs" asp-action="PlaySong" asp-route-id="@item.SongId">
                                    <h6>@item.Title</h6>
                                </a>
                                @if (item.Artists != null)
                                {
                                    <p>
                                        @foreach (var artist in item.Artists?.Select((value, i) => new { i, value }))
                                        {
                                            @artist.value.Name @((artist.i < item.Artists.Count() - 1)? "," : "")
                                        }
                                    </p>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Miscellaneous Area End ##### -->
