@model L2M.Models.User
@{
    ViewBag.Title = "Tài khoản";
}
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Tài khoản</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Account Area Start ##### -->
<section class="account-area section-padding-100-0 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 text-center">
                <img src="@Url.Content(@Model.ImgUrl)" width="200" height="200" class="avata">
                <h5 class="mt-2">@Model.UserName</h5>
                <p>@Model.Email</p>
                <!-- <a href="#"><i>Chỉnh sửa</i></a> -->
            </div>
            <div class="col-12 col-lg-9">
                <div class="oneMusic-tabs-content">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#song">Bài hát</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#playlist">Playlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#artist">Artist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#album">Album</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="song" class="container tab-pane active">
                            <br>
                            @if (Model.Songs == null)
                            {
                                @:<p>Không có bài hát yêu thích</p>
                            }
                            else
                            {
                                <!-- ##### Song Area Start ##### -->
                                <div class="one-music-songs-area mb-70">
                                    <div class="container">
                                        <div class="row">
                                            @foreach (var item in Model.Songs)
                                            {
                                            <!-- Single Song Area -->
                                            <div class="col-12">
                                                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                                                    <div class="song-thumbnail">
                                                        <img src="@Url.Content(item.ImgUrl)" alt="">
                                                    </div>
                                                    <div class="song-play-area">
                                                        <div class="song-name">
                                                            <p>@item.Title</p>
                                                        </div>
                                                        <audio preload="auto" controls>
                                                            <source src="@Url.Content(item.Path)">
                                                        </audio>
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                           
                                        </div>
                                    </div>
                                </div>
                                <!-- ##### Song Area End ##### -->
                            }
                        </div>
                        <div id="playlist" class="container tab-pane fade">
                            <br>
                            <div class="row oneMusic-albums">
                                @if (Model.Playlists == null)
                                {
                                    @:<p>Không có playlist yêu thích</p>
                                }
                                else
                                {
                                    @foreach (var item in Model.Playlists)
                                    {
                                        <div class="col-sm-4 col-md-3 col-lg-2">
                                            <div class="single-album">
                                                <img src="@Url.Content(item.ImgUrl)" alt="" width="100" height="100" style="border-radius: 50%">
                                                <div class="album-info">
                                                    <a href="/Playlist/Detail?id=@item.PlaylistId">
                                                        <h5>@item.Title</h5>
                                                    </a>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                        <div id="artist" class="container tab-pane fade">
                            <br>
                            <div class="row oneMusic-albums">
                                @if (Model.Artists == null)
                                {
                                    @:<p>Không có ca sĩ yêu thích</p>
                                }
                                else
                                {
                                    @foreach (var item in Model.Artists)
                                    {
                                        <div class="col-sm-4 col-md-3 col-lg-2">
                                            <div class="single-album">
                                                <img src="@Url.Content(item.ImgUrl)" alt="" width="100" height="120">
                                                <div class="album-info">
                                                    <a href="/Artists/Detail?id=@item.ArtistId">
                                                        <h5>@item.Name</h5>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div id="album" class="container tab-pane fade">
                            <br>
                            <div class="row oneMusic-albums">
                                @if (Model.Albums == null)
                                {
                                    @:<p>Không có album yêu thích</p>
                                }
                                else
                                {
                                    @foreach (var item in Model.Albums)
                                    {
                                        <div class="col-sm-4 col-md-3 col-lg-2">
                                            <div class="single-album">
                                                <img src="@Url.Content(item.ImgUrl)" alt="" width="100" height="100" style="border-radius: 50%">
                                                <div class="album-info">
                                                    <a href="/Playlist/Detail?id=@item.AlbumId">
                                                        <h5>@item.Title</h5>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Account Area End ##### -->

