@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Song>

@{

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>Danh mục bài hát</p>
            <form asp-controller="Songs" asp-action="Index" method="post">
                <input name="keyword" type="text" value="@ViewData["key"]" style="width: 200px;" placeholder="Nhập từ khóa">
                <input type="submit" value="Tìm kiếm">
            </form>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Album Catagory Area Start ##### -->
    <section class="album-catagory section-padding-100-0">
        <div class="container">
                @if (!Model.Any())
                {
                    <div class="row">
                        <h2 class="m-auto"> Không có kết quả</h2>
                    </div>
                }
            <div class="row oneMusic-albums">
                
                @foreach(var p in Model)
                {
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t c p">
                        <div class="single-album">
                            <img src="@Url.Content(p.ImgUrl)" alt="@p.Title">
                            <div class="album-info">
                                <a asp-controller="Songs" asp-action="PlaySong" asp-route-id ="@p.SongId">
                                    <h5>@p.Title</h5>
                                </a>
                                <p>@p.Album?.Title</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- ##### Album Catagory Area End ##### -->
}
