@model IEnumerable<L2M.Models.Playlist>
@{
    ViewBag.Title = "Playlist";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Playlist</h1>
    <a asp-controller="Playlist" asp-action="Create" asp-area="Admin" class="d-none d-sm-inline-block btn btn btn-primary shadow-sm">
        <i class="fas fa-plus text-white-50"></i><b> Thêm playlist</b>
    </a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách playlist</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ảnh bìa</th>
                        <th>Tên playlist</th>
                        <th>Tạo bởi</th>
                        <th>Tổng số bài hát</th>
                        <th>Mô tả</th>
                        <th>Nổi bật</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ảnh bìa</th>
                        <th>Tên playlist</th>
                        <th>Tạo bởi</th>
                        <th>Tổng số bài hát</th>
                        <th>Mô tả</th>
                        <th>Nổi bật</th>
                        <th>Tác vụ</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (item.ImgUrl == "")
                                {
                                    @:<img src="~/admin/img/defaultImg.png" width="100" />
                                }
                                else
                                {
                                    @:<img src="@Url.Content(item.ImgUrl)" width="100" />
                                }
                            </td>
                            <td>@item.Title</td>
                            <td>@item.User?.UserName</td>
                            <td>@item.Songs?.Count()</td>
                            <td>@item.Description</td>
                            <td>
                                @if (item.Featured == true)
                                {
                                    @:<span class="rounded-circle" style="background-color: #01c51a"></span>
                                }
                                else
                                {
                                    @:<span class="rounded-circle" style="background-color: #c20505"></span>
                                }
                            </td>
                            <td>
                                <a class="text-primary mr-lg-2" asp-action="Edit" asp-route-id="@item.PlaylistId"><i class="fas fa-edit"></i></a>&nbsp;
                                <a class="text-danger" onclick="return Delete(event, 'playlist', '@item.Title','/Admin/Playlist/Delete?id=@item.PlaylistId')"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            if ('@TempData["Success"]' == "Deleted") {
                swal("Đã xóa", "Xóa thành công!", "success");
            }
            else if ('@TempData["Error"]' == "Error Delete") {
                swal("Có lỗi", "Đã có lỗi xảy ra, vui lòng thử lại!", "error");
            } else if ('@TempData["Success"]' == "Added") {
                swal("Đã thêm", "Thêm thành công!", "success");
            }
            else if ('@TempData["Success"]' == "Edited") {
                swal("Đã sửa", "Chỉnh sửa thành công!", "success");
            } else if ('@TempData["Error"]' == "Error add") {
                swal("Có lỗi", "Đã có lỗi xảy ra, vui lòng thử lại!", "error");
            }
        });
    </script>
    <script type="text/javascript" src="~/admin/js/site.js"></script>
    <partial name="_ValidationScriptsPartial" />
}