@model L2M.Models.Song
@{
    ViewBag.Title = "Chỉnh sửa bài hát";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bài hát</h1>
    <a asp-controller="Songs" asp-action="Index" asp-area="Admin" class="d-none d-sm-inline-block btn btn btn-primary shadow-sm">
        <i class="fas fa-long-arrow-alt-left text-white-50"></i><b> Quay trở lại</b>
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Chỉnh sửa bài hát</h6>
    </div>
    <div class="card-body">
        <form class="formSong" id="formSong" asp-action="Edit">
            <input type="hidden" asp-for="SongId" value="@Model.SongId" />
            <div class="row">
                <div class="form-group col-lg-3 col-sm-12">
                    <div class="upload_img">
                        @if (Model.ImgUrl == "" || Model.ImgUrl == null)
                        {
                            @:<img src="/admin/img/noimg.webp" class="img_name" id="imgPreview" />
                        }
                        else
                        {
                            @:<img src="@Url.Content(@Model.ImgUrl)" class="img_name" id="imgPreview" />
                        }
                        <input type="file" asp-for="ImgUrl" accept="image/*" class="form-control" placeholder="Tải lên bài hát" id="photo">
                    </div>
                </div>
                <div class="form-group col-lg-9 col-sm-12">
                    @*<label>Tải lên tệp âm thanh</label>*@
                    <div class="file-upload row">
                        <div class="col-12">
                            @Html.RadioButtonFor(model => model.Upload, UploadType.Audio, new { @checked = true })
                            @*<input type="radio" asp-for="Upload" value="Audio" asp-items="Html.GetEnumSelectList<UploadType>()" />*@
                            <label for="UploadAudio">Upload Audio</label><br />
                            <div class="row">
                                <div class="col-6">
                                    <input type="file" id="upload" name="fileUpload" class="form-control" onchange="PreviewAudio(this, $('#audioPreview'))" />
                                </div>
                                <div class="col-6">
                                    @if (Model.Upload == UploadType.Audio)
                                    {
                                        <audio controls="controls" id="audioPreview">
                                            <source src="@Url.Content(@Model.Path)" type="audio/mp4" />
                                        </audio>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            @Html.RadioButtonFor(model => model.Upload, UploadType.Link, new { @checked = true })
                            <label asp-for="Path">Upload Link</label>
                            <div class="form-group ">
                                <input asp-for="Path" type="text" name="Path" class="form-control mb-0 pb-0">
                            </div>
                        </div>
                        <span asp-validation-for="Path" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="Title">Tên bài hát</label>
                            <input type="text" id="Title" asp-for="Title" class="form-control">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Duration">Độ dài</label>
                            <input type="text" asp-for="Duration" class="form-control">
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="GenreId">Thể loại</label>
                            <select asp-for="GenreId" class="form-control custom-select" asp-items="ViewBag.GenreId">
                                <option selected>Chọn thể loại</option>
                            </select>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label for="album">Album</label>
                            <select asp-for="AlbumId" class="form-control" asp-items="ViewBag.AlbumId">
                                <option selected>Chọn album</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="artist">Ca sĩ</label><br />
                            <select asp-for="ArtistIds" id="artist-select" class="form-control" asp-items="(MultiSelectList)ViewBag.ArtistId" multiple="multiple">
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="DateRelease">Năm phát hành</label>
                            <input asp-for="DateRelease" id="DateRelease" class="form-control" type="number" />
                        </div>
                        <div class="form-group col-12">
                            <label for="Lyrics">Lời bài hát</label>
                            <textarea id="lyrics" placeholder="Lời bài hát" class="form-control" name="Lyrics" asp-for="Lyrics"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Lưu</button>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            if ('@TempData["Error"]' == "Error edit") {
                swal("Có lỗi", "Đã có lỗi xảy ra, vui lòng thử lại!", "error");
            } else if ('@TempData["Error"]' == "Validation") {
                swal("Cảnh báo", "Không được bỏ trống, vui lòng thử lại!", "warning");
            }
        })
        var input = document.querySelector('#upload');
        input.addEventListener("change", (event) => {
            var file = event.target.files[0];
            jsmediatags.read(file, {
                onSuccess: function (tag) {
                    try {
                        console.log(tag);
                        var lyricSong = tag.tags.lyrics.lyrics;
                        $('#lyrics').val(lyricSong);
                        var dateRealease = tag.tags.year;
                        $('#DateRelease').val(dateRealease);
                    } catch (error) {
                        console.log(error);
                    }
                },
                onError: function (error) {
                    console.log(error);
                }
            })
        })
    </script>
    <partial name="_ValidationScriptsPartial" />
}

