@model IEnumerable<L2M.Models.Song>
@{
    ViewBag.Title = "Bài hát";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bài hát</h1>
    <a asp-controller="Songs" asp-action="Create" asp-area="Admin" class="d-none d-sm-inline-block btn btn btn-primary shadow-sm">
        <i class="fas fa-plus text-white-50"></i><b> Thêm bài hát</b>
    </a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách bài hát</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ảnh bìa</th>
                        <th>Tên bài hát</th>
                        <th>Ca sĩ</th>
                        <th>Album</th>
                        <th>Độ dài</th>
                        <th>Thể loại</th>
                        @*<th></th>*@
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ảnh bìa</th>
                        <th>Tên bài hát</th>
                        <th>Ca sĩ</th>
                        <th>Album</th>
                        <th>Độ dài</th>
                        <th>Thể loại</th>
                        @*<th></th>*@
                        <th>Tác vụ</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @if (item.ImgUrl == "")
                            {
                                @:<img src="~/admin/img/defaultImg.png" width="100" height="100"/>
                            }
                            else
                            {
                                @:<img src="@Url.Content(item.ImgUrl)" width="100" height="100" />
                            }
                        </td>
                        <td>@item.Title</td>
                        <td>
                            @foreach (var item1 in item.Artists)
                            {
                                <a href="/Admin/Artists/Detail?id=@item1.ArtistId">@item1.Name</a>
                            }
                        </td>
                        <td>@item.Album?.Title</td>
                        <td>@item.Duration</td>
                        <td>@item.Genre?.Name</td>
                        <td>
                            <audio controls="controls">
                                <source src="@Url.Content(@item.Path)" type="audio/mp4" />
                            </audio>
                        </td>
                        <td>
                            <a class="text-secondary mr-lg-2" href="" data-toggle="modal" data-target="#lyricModal"><i class="fas fa-closed-captioning fa-lg"></i></a>&nbsp;
                            <a class="text-primary mr-lg-2" asp-action="Edit" asp-route-id="@item.SongId"><i class="fas fa-edit"></i></a>&nbsp;
                            <a class="text-danger" onclick="return Delete(event, 'bài hát', '@item.Title', '/Admin/Songs/Delete?id=@item.SongId')"><i class="fas fa-trash-alt"></i></a>
                            <!-- The Modal -->
                            <div class="modal fade" id="lyricModal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Lyrics</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form class="form-group" asp-for="EditLyric" method="post">
                                                <input type="hidden" name="songId" value="@item.SongId"/>
                                                <textarea id="edit-text" placeholder="Lyrics" class="form-control" name="Lyrics">@item.Lyrics</textarea>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            if ('@TempData["Success"]' == "Deleted") {
                swal("Đã xóa", "Xóa thành công!", "success");
            }
            else if ('@TempData["Error"]' == "Error Delete") {
                swal("Có lỗi", "Đã có lỗi xảy ra, vui lòng thử lại!", "error");
            } else if ('@TempData["Success"]' == "Added") {
                swal("Đã thêm", "Thêm thành công!", "success");
            }
            else if ('@TempData["Success"]' == "Edited") {
                swal("Đã sửa", "Chỉnh sửa thành công!", "success");
            }
        })
    </script>
    <script type="text/javascript" src="~/admin/js/site.js"></script>
    <partial name="_ValidationScriptsPartial" />
}