@model IEnumerable<L2M.Models.Artist>
@{
    ViewBag.Title = "Ca sĩ";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ca sĩ</h1>
    <a asp-controller="Artists" asp-action="Create" asp-area="Admin" class="d-none d-sm-inline-block btn btn btn-primary shadow-sm">
        <i class="fas fa-plus text-white-50"></i><b> Thêm ca sĩ</b>
    </a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách ca sĩ</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Hình đại diện</th>
                        <th>Tên</th>
                        <th>Thônd tin</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Hình đại diện</th>
                        <th>Tên</th>
                        <th>Thônd tin</th>
                        <th>Tác vụ</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="@Url.Content(item.ImgUrl)" width="100" /></td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>
                                <a class="text-primary mr-lg-2" asp-action="Edit" asp-route-id="@item.ArtistId"><i class="fas fa-edit"></i></a>&nbsp;
                                <form asp-action="Delete" asp-route-id="@item.ArtistId" method="post">
                                    <a class="text-danger" onclick="Delete('ca sĩ','@item.Name')"><i class="fas fa-trash-alt"></i></a>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function Delete(type, name) {
            swal({
                title: `Xóa ${type} "${name}"`,
                text: `Bạn chắc chắn muốn xóa ${type} "${name}"`,
                icon: "warning",
                buttons: {
                    cancel: "Hủy",
                    confirm: "Xóa"
                },
                dangerMode: true,
            }).then((isConfirm) => {
                if (isConfirm) {
                    $('form').submit();
                    @if(TempData.ContainsKey("Success"))
                    {
                        @:toastr.success("Xóa thành công");
                    }
                    @if(TempData.ContainsKey("Error"))
                    {
                        @:toastr.error("Xóa không thành công");
                    }
                }
                else {
                    swal("Đã hủy", "Dữ liệu của bạn an toàn", "error");
                }
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}