@model IEnumerable<L2M.Models.Album>
@{
    ViewBag.Title = "Album";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Album</h1>
    <a asp-controller="Albums" asp-action="Create" asp-area="Admin" class="d-none d-sm-inline-block btn btn btn-primary shadow-sm">
        <i class="fas fa-plus text-white-50"></i><b> Thêm album</b>
    </a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách album</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Bìa album</th>
                        <th>Tên album</th>
                        <th>Ngày phát hành</th>
                        <th>Loại</th>
                        <th>Nổi bật</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Bìa album</th>
                        <th>Tên album</th>
                        <th>Năm</th>
                        <th>Loại</th>
                        <th>Nổi bật</th>
                        <th>Tác vụ</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="@Url.Content(item.ImgUrl)" width="100" /></td>
                            <td>@item.Title</td>
                            @if (item.DateRelease.Equals(DateTime.MinValue))
                            {
                                @:<td></td>
                            }
                            else
                            {
                                @:<td>@item.DateRelease</td>
                            }
                            <td>@item.Type</td>
                            <td></td>
                            <td>
                                <a class="text-primary mr-lg-2" asp-action="Edit" asp-route-id="@item.AlbumId"><i class="fas fa-edit"></i></a>&nbsp;
                                <form asp-action="Delete" asp-route-id="@item.AlbumId" method="post">
                                    <a class="text-danger" onclick="Delete('album', '@item.Title')"><i class="fas fa-trash-alt"></i></a>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/admin/js/site.js"></script>
    <partial name="_ValidationScriptsPartial" />
}